<div class="cheeps-container">
  <form class="send-cheep" id="send-cheep" <%= 'style="display:none;"' unless current_user %>>
    <label for="enter-cheep" >Send Cheep</label>
    <input id="enter-cheep" type="text" name="cheep">
    <button id="cheep-button">Cheep</button>
  </form>
  <%= erb :cheeps, locals: { cheeps: @cheeps } %>
</div>
<div class="sidebar">
  <%= erb :_sidebar, locals: { user: @user } %>
</div>
